<div class="flex flex-col item-center my-8">\
  {% form 'contact' %}
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" id="contact_name">

    <label for="contact_email">Email address</label>
    <input type="email" name="contact[email]" id="contact_email">

    <textarea name="contact[body]" id="contact_message"></textarea>

    <input type="submit" value="Submit message">
  {% endform %}
</div>


{% schema %}
  {
    "name": "contact",
    "presets": [
      {
        "name": "Contact Form"
      }
    ]
  }
{% endschema %}