<div class="flex flex-col item-center my-8">\
  {% form 'contact' %}
    <div class="max-w-6xl mx-auto justify-center flex items-center px-4">
      <div class="flex px-1 mb-3">
        <div class="px-3 md:w-1/2">
          <label class="uppercase text-xs text-gray-500 font-medium" for="contact_name">Name</label>
          <input class="border py-3 mb-3 px-4 text-gray-700 w-full" type="text" name="contact[name]" id="contact_name">
        </div>
        <div class="px-3 md:w-1/2">
          <label class="uppercase text-xs text-gray-500 font-medium"  for="contact_email">Email address</label>
          <input  class="border py-3 mb-3 px-4 text-gray-700 w-full"  type="email" name="contact[email]" id="contact_email">
        </div>
      </div>
      div.flex.
    </div>
    

    

    <label for="contact_message">Message</label>
    <textarea name="contact[body]" id="contact_message"></textarea>

    <input type="submit" value="Submit message">
  {% endform %}
</div>


{% schema %}
  {
    "name": "contact",
    "presets": [
      {
        "name": "Contact Form"
      }
    ]
  }
{% endschema %}