<div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:mx-w-7xl lg:px-8">
  <h1 class="text-2xl font-bold text-gray-700">Account</h1>

  <div class="block md:flex gap-4">
    {% assign number_of_orders = customer.orders |  size %}
    {% if number_of_orders > 0 %}
      <div class="w-full my-6 md:my-12">
        <h2 class="text-xl font-bold text-gray-700">Order history</h2>

        <div>
          {% paginate customer.orders by 10 %}
            {% for order in customer.orders %}
              <div class="relative">
                {{ order.name }}
              </div>
            {% endfor %}
          {% endpaginate %}
        </div>
      </div>
    {% else %}
          <div class="w-full h-80 flex items-center justify-center">
            h2.text-base.md:text-2xl.font-medium{}
          </div>
    {% endif %}
   
      
  </div>
</div>