<div class="container mx-auto">
  {% paginate search.results by 1 %}
    <h1 class="text-xl my-4 text-center">Search Results</h1>
    <div class="flext justify-center items-center">
      <form action="{{ routes.search_url }}" method="get">
        <input class="px-4" type="search" name="q" placeholder="Search" value="{{ search.terms |  escape }}">
        <button type="submit" class="bg-gray-400 hover:bg-gray-700 text-white border px-4">Search</button>
      </form>
    </div>
    {% for item in search.results %}
      {% case item.object_type %}
        {% when 'product' %}
          {% render 'product-card', product: item %}
        {% else %}
          
      {% endcase %}
    {% endfor %}
    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

