{% for collection in collections %}
  {% if collection.all_products_count > 0 %}
    <div class="w-full py-6 px-3">
      <div class="border bg-white overflow-hidden">
        <a href="{{ collection.url }}">
          <div class="h-80 overflow-hidden">
            {% if collection.featured_image != blank %}
              {% assign collection_image = collection.featured_image %}
            {% else %}
              {% assign collection_image =  %}
            {% endif %}
          </div>
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}