<div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:mx-w-7xl lg:px-8">
  <h1 class="text-2xl font-bold text-gray-700">Account</h1>

  <div class="block md:flex gap-4">
    {% assign number_of_orders = customer.orders |  size %}
    {% if number_of_orders > 0 %}
      <div class="w-full my-6 md:my-12">
        <h2 class="text-xl font-bold text-gray-700">Order history</h2>

        <div>
          {% paginate customer.orders by 10 %}
            {% for order in customer.orders %}
              <div class="relative">
                <div class="w-full min-80 bg-gray-200 rounded-md overflow-hidden lg:h-8o">
                  {% if order.line_items.first.image %}
                    <img src="{{  order.line_items.first.image | img_url: 'medium' }}" alt="{{  order.line_items.first.image.alt }}">
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% endpaginate %}
        </div>
      </div>
    {% else %}
          <div class="w-full h-80 flex items-center justify-center">
            <h2 class="text-base md:text-2xl font-medium">Your currently don't have any orders</h2>
          </div>
    {% endif %}
   
      
  </div>
</div>