<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8   ">
    <div>
      <h1 class="mt-6 text-center text-3xl font-bold text-gray-700">Activate account</h1>
      <p class="mt-4 text-center">Create your password to activate your account</p>
    </div>

    <div>
      {% form 'activate_customer_password', class: 'space-y-4', id: 'activate_account_form' %}
        <div>
          <label for="password">Password</label>
          <input 
            class="relative block w-full px-3 py-2 border placeholder-gray-300 text-gray-700
           "
            autocomplete="New Password"
            placeholder="New password"
            type="passworf" 
            name="customer[password]" 
            id="password">
            
        </div>
        <div>
          <label for="confirm_password">Confirm password</label>
          <input 
            class="relative block w-full px-3 py-2 border placeholder-gray-300 text-gray-700
           "
            autocomplete="new-password"
            placeholder="Confirm your password"
            type="passworf" 
            name="customer[password_confirmation]" 
            id="confirm_password">
            
        </div>
        div.block.
      {% endform %}
    </div>
  </div>
</div>